In [23]:
import dask
import pandas as pd
import numpy as np
import dask.dataframe as dd

In [24]:
N=10000
df = pd.DataFrame({'col_1':np.random.random(N), 'col_2': np.random.random(N) })
ddf = dd.from_pandas(df, npartitions=8)

In [25]:
def test_f(df,col,bins,labels):
    return df.assign(bin_num = pd.cut(df[col],bins,labels=labels))

In [26]:
bins = np.linspace(0,1,11)
labels = list(range(len(bins)-1))
ddf2 = ddf.map_partitions(test_f, 'col_1',bins,labels)

In [28]:
ddf2.head()

      col_1     col_2 bin_num
0  0.459564  0.901323       4
1  0.270701  0.629579       2
2  0.791815  0.716005       7
3  0.665952  0.390435       6
4  0.995617  0.837536       9

In [29]:
median = ddf2.groupby('bin_num')['col_1'].apply(pd.Series.median).compute()

/home/user/miniconda3/envs/thesis/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: `meta` is not specified, inferred from partial data. Please provide `meta` if the result is unexpected.
  Before: .apply(func)
  After:  .apply(func, meta={'x': 'f8', 'y': 'f8'}) for dataframe result
  or:     .apply(func, meta=('x', 'f8'))            for series result
  """Entry point for launching an IPython kernel.

In [ ]:
median = ddf2.groupby('bin_num')['col_1'].mean().compute()

In [30]:
ddf2.groupby('bin_num')['col_1']